/* Basic double column stylesheet */

body,
html {
  margin:0;
  padding:0;
  color:#000;
  background:#eee;
  font-family: 'Lora', serif;
}

#wrap {
  width:750px;
  margin:0 auto;
  background:#eee;
}

#nav ul {
  margin:0;
  padding:0;
  list-style:none;
}

#nav li {
  display:inline;
  margin:0;
  padding:0;
}

#header {
  padding:5px 10px;
  background:#e3293c;
}

h1 {
  margin:0;
}

#nav {
  padding:5px 10px;
  background:#d8a570;
}

#main {
  float:left;
  width:480px;
  padding:10px;
  background:#ffb543;
}

h2 {
  margin:0 0 1em;
}

/* Set first character of headers and links to capital */
h1, h2, a {
    text-transform: capitalize;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
}

#sidebar {
  float:right;
  width:230px;
  padding:10px;
  background:#aaf074;
}

#footer {
  clear:both;
  padding:5px 10px;
  background:#e3293c;
}

#footer p {
  margin:0;
}

* html #footer {
  height:1px;
}